<agm-map (boundsChange)="boundsChange($event)" (mapClick)="onChoseLocation($event)"
[latitude]="lat"
[longitude]="lng"
[fullscreenControl]="true"
[zoom]="7"
 >
  <!--(mapClick)="onChoseLocation($event)"-->
  <agm-marker
    [latitude]="lat"
    [longitude]="lng"
    [iconUrl]="iconUrl"
    *ngIf="locationFound">
  </agm-marker>
  <agm-marker *ngIf="locationChosen"
  [latitude]="selectedLocationLat"
  [longitude]="selectedLocationLng">
  </agm-marker>
  <agm-marker
    *ngFor="let m of localRestaurants; let i = index"
    [attr.data-index]="i"
    [latitude]="m.lat"
    [longitude]="m.long"
    [label]="i+1+''"
    [title]="m.restaurantName">
  </agm-marker>
</agm-map>
