.restaurant{
  margin: 20px;
}
.streetViewImage{

}
#rateFilter{
  text-align: center;
  font-weight: 600;
  color: #c42a29;
}
.restaurantName{
  font-weight: 600;
  font-size: 1.3em;
  color: #c42a29;
}
hr{
  border: 1px solid #c42a29!important;
}
.rating{
  margin: 5px;
  hr{
    border: 1px solid #c1c1c1!important;
  }
}
