.restaurant{
  margin: 20px;
}
#rateFilter{
  text-align: center;
  font-weight: 600;
  color: #c42a29;
}
#restaurantId{
  font-weight: 600;
  color: #c42a29;
}
hr{
  border: 1px solid #c42a29!important;
}
